.heading3{
    color: black;
  }
  .headingw3{
    color: #3990a8;
  }
  .horizontalLine{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
  }
  .Rs{
    background-color: #a9aaac;
  }
  .Sm{
    color: #30577a;
  }
  .BelowDiv{
    background-color: #30577a;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 20px;
    border-radius: 0% 0% 0% 50%;
  }
  #Poster3{
    min-width: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background:
    url("/public/bg.png") center/cover no-repeat,
    url("/public/bgorange.png") bottom center/cover no-repeat,
    url("/public/bgorange.png") top center/cover no-repeat,
    url("/public/bgorange2.png") bottom center/cover no-repeat,
    url("/public/bgorange2.png") top center/cover no-repeat;
  
  }
  #Poster2nd{
    min-width: 800px;
    background-image: url("/public/bg.png");
  }
  
  #Poster3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%; 
    bottom: -150px;
    background: url('/public/LinesWaves.png') bottom center/contain no-repeat;
    opacity: 0.5;
    z-index: 1;
  }

  #leftPoster3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 850px;
    opacity: 0.5;
    background: url('/public/ringTop.png') top center/cover no-repeat;
    z-index: 1;
  }

  .Date{
    height: 4vw;
  }
  ol li {
    list-style: decimal;
    list-style-position: inside;
  }
  @media screen and (max-width: 1600px) {
    #maindiv{
      flex-direction: column;
    }
    #Poster2{
      min-width: 800px
    }
  }