.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  color: dimgrey;
}
.headingw{
  color: darkorange;
}
.horizontalLine{
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray
}
#Poster{
  position: relative;
  overflow: hidden;
  background:
  url("/public/bg.png") center/cover no-repeat,
  url("/public/bgorange.png") bottom center/cover no-repeat,
  url("/public/bgorange.png") top center/cover no-repeat,
  url("/public/bgorange2.png") bottom center/cover no-repeat,
  url("/public/bgorange2.png") top center/cover no-repeat;

}
#Poster2{
  background-image: url("/public/bg.png");
}

#Poster::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 240%;
  background: url('/public/bgorange.png') bottom center/cover no-repeat;
  z-index: 1;
}
#Poster::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  background: url('/public/bgorange2.png') bottom center/cover no-repeat;
  z-index: 1;
}
#leftPoster{
  position: relative;
  overflow: hidden;
  background:
    url("/public/bgorange.png") top center/cover no-repeat,
    url("/public/bgorange2.png") top center/cover no-repeat,
}
#leftPoster::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 700px;
  right: 100px;
  rotate: 150deg;
  background: url('/public/bgorange.png') top center/cover no-repeat;
  z-index: 1;
}
#leftPoster::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 650px;
  background: url('/public/bgorange2.png') top center/cover no-repeat;
  rotate: 180deg;
  z-index: 1;
}
.Date{
  height: 4vw;
}
ol li {
  list-style: decimal;
  list-style-position: inside;
}
#dp{
  height: 50px;
  width: 350px;
  border-radius: 50%;
  border: 12px solid #ff990f;
}